@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}

.hero-banner{
  background-image: url("/assets/bbg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-image{
  background-image: url("/assets/hero-image2.png");
  background-size: cover;
  background-position: top;
}

.compare{
  background-image: url("/assets/bbg.jpg");
  background-size: cover;
  background-position: center;
}

.contact{
  background-image: url("/assets/bbg.jpg");
  background-size: cover;
  background-position: center;
}
